# Python/venv
.venv/
__pycache__/
*.pyc

# local secrets and state
.env

# Logs
*.log

# IDE files
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
infra/terraform.tfvars

# Experimental / local only
finetune.py
inference.py
train.py
locustfile.py
example.txt
data.jsonl
taskdef.json
collection.json
query.json