global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'fastapi'
    static_configs:
      - targets: ['host.docker.internal:8000']

rule_files:
  - "alerts.yml"

alerting:
  alertmanagers:
  - static_configs:
    - targets: []